body {
  font-family: "Helvetica";
  color: #0d6efd;
}

h1,
h2,
h3 {
  margin: 0.5rem 0;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.2rem;
}

h3 {
  font-size: 1rem;
}

a {
  text-decoration: none;
}

button {
  font-size: 0.9rem;
  padding: 0.2rem;
  border-radius: 1rem;
  width: 60%;
  cursor: pointer;
  border: none;
  background-color: #0d6efd;
  color: #ffffff;
}
button.add {
  border-radius: 0.5rem;
  width: 1.5rem;
  background-color: #0d6efd;
  color: #ffffff;
}
button.remove {
  border-radius: 0.5rem;
  width: 1.5rem;
  background-color: #f04040;
  color: #ffffff;
  margin-left: 1rem;
}
button.badge {
  border-radius: 1rem;
  width: 1.5rem;
  background-color: #0d6efd;
  border: none;
  color: #ffffff;
}

img {
  border-radius: 0.5rem;
  width: 100%;
}

header {
  text-align: right;
}

aside {
  font-size: 0.8rem;
  background-color: #ffffff;
  border-radius: 1rem;
  padding: 1rem;
}

.card {
  width: 22em;
  text-align: center;
  padding: 0.5rem;
  margin: 0.5rem;
  border-style: groove;
  border-color: #4d92fa;
  border-width: 0.1rem;
  border-radius: 1rem;
  background-color: #fff;
}

.mainTitle {
  text-align: center;
}

.navbar {
  margin: 1rem;
  font-size: 2rem;
}

@media (min-width: 374.98px) {
  * {
    padding: 0;
    margin: 0;
    min-width: 96%;
  }

  #content {
    padding: 0;
  }

  #canvas-right {
    flex: none;
    margin: 0;
  }

  .mainFlexContainer {
    display: block;
    margin: 0;
  }

  .cartHeader {
    margin: 0.1rem;
  }
  .navbar {
    margin-bottom: 2rem;
  }
  aside {
    padding: 0.5rem;
    margin: 0;
    font-size: 1rem;
    text-align: left;
  }
  .card {
    margin: 0.1rem;
  }
  .checkOut {
    text-align: center;
    margin: 1rem;
  }

  button {
    min-width: auto;
  }
}

@media (min-width: 585.98px) {
  * {
    min-width: auto;
  }

  .mainFlexContainer {
    display: flex;
    margin: 0rem;
  }

  #content {
    background-color: #efefef;
    padding: 0;
    border-radius: 1rem;
  }

  #canvas-right {
    flex: 2 30%;
    margin: 3rem 1rem;
  }

  .fixedBasket {
    position: fixed;
    text-align: right;
    width: 30%;
  }

  .cardTitle {
    font-size: 1.5rem;
    color: blue;
  }

  .cardText {
    font-size: 1.2rem;
    color: blue;
  }
  .cartHeader {
    margin: 2rem 0;
    position: fixed;
    top: 0;
    width: 100%;
    font-size: 1rem;
  }

  .checkOut {
    text-align: center;
  }

  .checkOutProducts {
    font-size: 0.63rem;
  }
  aside {
    margin: 0;
    font-size: 80%;
    text-align: right;
  }
  a {
    margin-right: 1rem;
  }

  button.remove {
    margin-left: 0.2rem;
  }
}

@media (min-width: 991.98px) {
  * {
    min-width: auto;
  }

  .mainFlexContainer {
    display: flex;
    margin: 5rem;
  }

  #content {
    background-color: #efefef;
    padding: 0.1rem 4.5rem;
    border-radius: 1rem;
  }

  #canvas-right {
    flex: 2 30%;
    margin: 0rem 3rem;
  }

  .fixedBasket {
    position: fixed;
    text-align: right;
    width: 30%;
  }

  .cardTitle {
    font-size: 1.5rem;
    color: blue;
  }

  .cardText {
    font-size: 1.2rem;
    color: blue;
  }
  .cartHeader {
    margin: 5rem 0;
    position: fixed;
    top: 0;
    width: 98%;
  }

  .checkOut {
    text-align: center;
    margin-top: 0.2rem;
  }

  .checkOutProducts {
    font-size: 1rem;
  }
}
